.vs/** filter=lfs diff=lfs merge=lfs -text
Config/** filter=lfs diff=lfs merge=lfs -text
Content/** filter=lfs diff=lfs merge=lfs -text
DerivedDataCache/** filter=lfs diff=lfs merge=lfs -text
Intermediate/** filter=lfs diff=lfs merge=lfs -text


Saved/** filter=lfs diff=lfs merge=lfs -text
Source/** filter=lfs diff=lfs merge=lfs -text
